body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
	padding: 20px;
}

#sidebar
{
	padding: 20px;
}
#block1
{
    display: inline-blocks; 
    width: 910px;
    margin-bottom: 200px;
    
}
.text_1
{
    display: inline-blocks; 
     width: 550px;
     float: left;
}
.image_1
{
    
    display: inline-blocks; 
     width: 310px;
     float: left;
     margin-left: 5px; 
     margin-bottom: 10px;
}
.image_2
{
    
    display: inline-blocks; 
    align: center; 
    margin-top: 10px;
    
   
    
}
.block2
{
    display: inline-blocks;
    
}
.content_info
{
     display: inline-blocks;
     width: 900px;
     
}
table.list {
    width: 100%;
    }
    tr.even {
        background-color: #fff;
        }
    tr.odd {
        background-color: #f1f5fc;
        }
    table.zebra-stripe > tbody > tr:nth-child(even) {
        /* то же, что и tr.even - fix чтобы работало в ie */
        background-color: #fff;
        }
    table.zebra-stripe > tbody > tr:nth-child(odd) {
        /* то же, что и tr.odd - fix чтобы работало в ie */
        background-color: #f1f5fc;
        }
    table.list > tbody > tr.hover, table.zebra-stripe.list > tbody > tr:hover {
        background-color: #FFEFE1;
        }
    table.list > tbody > tr.odd.hover, table.zebra-stripe.list > tbody > tr.odd:hover {
        background-color: #fee8d5;
        }
        th {
            text-align: left;
            padding: 5px 5px;
            }
        td {
            text-align: left;
            padding: 5px 5px;
            }
table caption {
    color: #e97001;
    text-align: left;
    }
table caption a {
    color: #e97001 !important; 
    }
table > tbody > tr > th {
    font-weight: normal;
    }
    
table.free-places {
    border-collapse: collapse;
   }
   table.free-places > tbody > tr > td, table.free-places > tbody > tr > th {
    border: 1px solid black;
   }
   table.free-places > tbody > tr > td > input {
       width: 30px;
       height: 15px;
   }
   table.free-places > tbody > tr > td > input[type="text"]{
        border: none;
   }
#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	margin: 0 0 20px;
}

.post .title
{
	font-size: 1.5em;
	border-bottom: 1px solid #C9E0ED;
}

.post .title a
{
	color: #555;
	text-decoration: none;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}